.order {
    margin-top: 50px;
    margin-bottom: 70px;
    padding: 2rem;
}
.order_table{
    padding-top: 2rem;
}
.box {
    box-shadow: 0 0 0 1px rgba(53, 72, 91, .07), 0 2px 2px rgba(0, 0, 0, .01), 0 4px 4px rgba(0, 0, 0, .02), 0 10px 8px rgba(0, 0, 0, .03), 0 15px 15px rgba(0, 0, 0, .03), 0 30px 30px rgba(0, 0, 0, .04), 0 70px 65px rgba(0, 0, 0, .05);
}
.status1{
    color: white;
    font-weight: 400;
    background-color: #2eae06;
}
.status2{
    color: white;

    background-color: rgb(0, 123, 255);
}
.status3{
    color: white;

    background-color: rgb(255, 196, 0);
}
.status4{
    color: white;

    background-color: rgb(231, 18, 18);
}